<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Time Sheet App</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
  <link href="../static/css/glpicons.css" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="css/style.css")}}'>
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navvbar-custom" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Time Sheet App</a>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">{{session['name']}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if session['user'] %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/sheetentry">My Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/viewprofile">Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/employees">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/projectempall">Project Emp</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/viewprofile">Profile</a>
          </li>-->
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock %}

  <!-- Footer -->
  <footer class="py-3 bg-primary buttom-fixed py-3-custom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Nichesoft 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>
  <!-- Plugin JavaScript -->
  <script src="../static/js/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="../static/js/scrolling-nav.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</body>
</html>
