<head>
  <title>Time Sheet App</title>


  <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

  {% block content %}

  {% endblock %}

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/app.js"></script>
</body>
</html>
